html, body {
	height:100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
}

a, a:hover {
	text-decoration: none;
	color: inherit;
}

/* GENERAL */

/* Set min height */

.fill-v-100 {
	height: 100vh;
}

/* Backgrounds */
.bg-dark-noise {
	background: #252525
				url("../img/noise-dark.png") repeat;
	color:white;
}
.bg-light-noise {
	background: #dadada
				url("../img/noise-light.png") repeat;;
	color: black;
}

/*Font colors */

.font-red {
	color: #F92672;
}
.font-light-green {
	color: #A6E22A;
}
.font-light-blue {
	color: #66D9EF;
}

/* Flex settings */
.disp-flex {
	display: flex;
}
.align-self-v-center {
	align-self: center;
}
.align-child-h-center {
	justify-content: center;
}

/* buttons */
.small-button {
	padding: 2px 8px;
	color: white;
	background: #44c7d6; /* Old browsers */
	background: -moz-linear-gradient(top, #44c7d6 0%, #38a1af 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #44c7d6 0%,#38a1af 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #44c7d6 0%,#38a1af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44c7d6', endColorstr='#38a1af',GradientType=0 ); /* IE6-9 */
	border: solid 1px #606c88;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
}

.small-button:hover {
	background: #66d9ef; /* Old browsers */
	background: -moz-linear-gradient(top, #66d9ef 0%, #53abc1 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #66d9ef 0%,#53abc1 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #66d9ef 0%,#53abc1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66d9ef', endColorstr='#53abc1',GradientType=0 ); /* IE6-9 */
}

/* HOME PAGE */

#intro {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
}

#intro p {
	margin: 0px;
}
