html, body {
	height:100%;
}

/* GENERAL */
.fill-v-100 {
	min-height: 100vh;
}

.bg-dark-noise {
	background: #252525
				url("../img/noise.png") repeat;
	color:white;
}

.light {
	background: #fff;
	color: black;
}

